{{#each emp}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{empMarca}}
        <p class="card-text">{{empMatricula}}</p>
        <img src="{{empImagen}}">
        <p class="card-text">{{empRepre}}</p>
        <p class="card-text">{{empCuidad}}</p>
        <p class="card-text">{{empDirección}}</p>
        <p class="card-text">{{empTelefono}}</p>
        <p class="card-text">{{empCorreo}}</p>
        <a href="{{empPagina}}">{{empPagina}}</a>
        <p class="card-text">{{usu}}</p>
    </div>
</div>
{{/each}}