{{#each pro}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{perNombre}}
        <p class="card-text">{{perRut}}</p>
        <img src="{{perFoto}}">
        <p class="card-text">{{perEmail}}</p>
        <p class="card-text">{{perCuidad}}</p>
        <p class="card-text">{{perDirección}}</p>
        <p class="card-text">{{perTelefono}}</p>
        <a href="{{perPagina}}">{{perPagina}}</a>
        <p class="card-text">{{usu}}</p>
    </div>
</div>
{{/each}}